{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Aus-web/main.css' %}"
    />

    {% if title %}
    <title>Ausweg Automations- {{title}}</title>
    {% else %}
    <title>Ausweg Automations</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'web-Home' %}">Ausweg Automations</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'web-Home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'web-store' %}">Store</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>

          <a href="{% url 'web-cart' %}">
            <img id="cart-icon" src="{% static 'Aus-web/images/cart.png' %}" />
          </a>
          <p id="cart-total">0</p>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
          <a href="{% url 'register' %}" class="btn btn-warning">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %} {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
