{% extends 'Ausweg-web/Base.html' %} {% block content %}

<div class="aboutus">
  <div class="header">Home</div>
  <div class="hocon">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur animi
    eaque rem nam, in cumque incidunt unde rerum excepturi reiciendis iusto
    sequi. Magnam voluptatum placeat repudiandae laborum ad necessitatibus
    cumque nostrum assumenda? Ab modi, adipisci facere ad harum inventore
    aperiam, est quasi exercitationem saepe, impedit ex neque. Vitae ut placeat
    molestias, voluptas impedit deleniti. Hic amet, expedita aliquam dignissimos
    optio repudiandae illum aut cum soluta est! Et quos ullam nemo quod autem
    labore, vero magni exercitationem id. Voluptate error voluptas temporibus,
    tempora sit aliquam asperiores architecto eveniet quas enim magni ex
    exercitationem quasi nisi explicabo rem! Voluptatem aut eaque ex.
  </div>
</div>

{% endblock %}
